<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Programming is like superpower</h5>
        <p class="grey-text text-lighten-4">You can use this superpower to achieve your dream.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="/register">Register</a></li>
          <li><a class="grey-text text-lighten-3" href="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2020 Adovil
      <a class="grey-text text-lighten-4 right" href="https://github.com/AyemunHossain">Github</a></br>
      <li><a class="grey-text text-lighten-4 right" href="https://www.instagram.com/ahashik.me/">Instagram</a>
    </div>
  </div>
</footer>
