<div class="card gedf-card">
    <div class="card-header">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
                <div class="mr-2">
                    {% if post.image %}

                    <a href="{% url 'blogPosts:postDetail' post.id %}" >
                        <img  style="height:40x;width: 60px;" src="{{post.image.url}}">
                    </a>

                    {% endif %}
                    
                </div>
                <div class="ml-2">
                    <div class="h5 m-0"><a href="{% url 'blogPosts:userPostsPage' post.author.username %}">
                    <small>{{ post.author }}</small></a>
                    </div>
                    <div class="h7 text-muted">{{ post.date|date:"F d, Y" }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <a class="card-title" href="{% url 'blogPosts:postDetail' post.id %}" ><h4>{{ post.title }}</h4> </a>
        
            <p class="card-text">{{ post.content|slice:300 }}....

        <a style="color: blue" class="article-title" href="{% url 'blogPosts:postDetail' post.id %}">continue reading</a>

        </p>
    </div>
</div>
<div class='container'>
    <p>
        
    </p>
</div>
