<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">  
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    
    <!-- Social icons -->
    {% include 'includes/social-account.html' %}

    
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2020 Copyright
      <a href="https://github.com/ayemunhossain" target="_blank"> Ayemun Hossain Ashik </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->