{% extends 'base.html' %}

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container mt-5 pt-lg-5">

        <div class="table-responsive text-nowrap">
            <h2> Order Summary : {{time}}</h2>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Category</th>
                  <th scope="col">Price</th>
                  <th scope="col">Discount Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Ordered Date</th>
                  <th scope="col">Total Item Price</th>

                </tr>
              </thead>
              <tbody>
               {% if object != None %}

                    {% for order_item in object.items.all %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td><a href="{{ order_item.item.get_absolute_url}}"><b> {{ order_item.item.title |slice:":35"}}...</b></a></td>
                      <td>{{ order_item.item.get_category_display }}</td>
                      <td>{{ order_item.item.price }}</td>
                      <td>{{ order_item.item.discount_price }}</td>
                      <td>

                          <a href="{% url 'core:remove_from_cart' order_item.item.slug path %}"> 
                            <i class="fas fa-minus mr-2"></i>
                          </a>
                            {{order_item.quantity}}
                          <a href="{% url 'core:add_to_cart' order_item.item.slug path %}">
                            <i class="fas fa-plus ml-2"></i>
                          </a>

                      </td>
                      <td>{{ object.ordered_date }}</td>
                      <td>{{ order_item.get_total_item_price }}  
                          {% if order_item.get_saved_amount != None %}
                              <span class="badge badge-primary">(Saving: ${{ order_item.get_saved_amount }})</span>
                          {% endif %}

                          <a class="ml-4" href="{% url 'core:delete_from_cart' order_item.item.slug path %}">
                            <i class="fas fa-trash"></i>
                          </a>
                        </td>

                      </td>
                    </tr>

                    {% endfor %}
                    <tr>
                      <td ><b>Order Total</b></td>
                      <td colspan="8">
                        
                        <b style="margin-left: 50rem;">${{object.get_total_bill}} </b>
                        
                        {% if object.get_total_saving != None %}
                        
                        <span class="badge badge-primary">
                          (Total Saving: ${{object.get_total_saving}} )
                        </span>
                          
                        {% endif %}
                        
                    </tr>

                    <tr>
                      <td colspan="8">
                        <a class="btn btn-warning float-right ml-2" href="{% url 'core:checkout' %}">Checkout Now</a>
                        <a class="btn btn-outline-primary float-right" href="/">Continue Shopping</a>
                      </td>
                    </tr>

                {% else %}

                    <tr>
                      <td colspan="8">
                        <h2>
                          <h1>
                            Your Cart Is Empty
                          </h1>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="8">
                        <a class="btn btn-primary float-right" href="/">
                          Continue Shopping
                        </a>
                      </td>
                    </tr>

               {% endif %}
              </tbody>
            </table>
          
          </div>

    </div>
  </main>
  <!--Main layout-->

  {% endblock content %}