{% if notfound %}

<div class="card-body mt-5 pt-5">
    <h5 class="card-title">Not Found</h5>
    <p class="card-text">Your search result for "{{query_str}}" is not found</p>
    <a href="{% url 'core:item-list' %}" class="btn btn-primary">Continue Shopping</a>
 </div>


{% elif query %}
<div class="container mt-5 pt-5">
  <h2>
    Your search result for "{{query_str}}" , {{num}} found
  </h2>

</div>
{% for object in query %}
<!--Grid column-->
<div class="col-lg-3 col-md-6 mb-4 mt-5">

  <!--Card-->
  <div class="card">

    <!--Card image-->
    <div class="view overlay">
      <img src="{{ object.image.url }}" class="card-img-top"
        alt="">
      <a href="{% url 'core:product' object.slug %}">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Card image-->

    <!--Card content-->
    <div class="card-body text-center">
      <!--Category & Title-->
      <a href="" class="grey-text">
        <h5>{{object.get_category_display}}</h5>
      </a>
      <h5>
        <strong>
          <a href="{% url 'core:product' object.slug %}" class="dark-grey-text">{{object.title}}
            <span class="badge badge-pill {{object.get_label_display}}-color">
              
              {% if object.get_label_display == "primary" %}
                New Arival
              {% elif object.get_label_display == "secondary" %}
                Hot Selling
              {% else %}
                Bestseller  
              {% endif %}
              
            </span>
          </a>
        </strong>
      </h5>

      <h4 class="font-weight-bold blue-text"> <strong>
        
        {% if object.discount_price > 0 %}
          {{object.discount_price}}$
        {% else %}
          {{ object.price}}$
        {% endif %}

      </strong></h4>
    </div>
    <!--Card content-->

  </div>
  <!--Card-->

</div>
<!--Grid column-->
{% endfor %}


{% elif object_list %}


{% for object in object_list  %}
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4">

            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay">
                <img src="{{ object.image.url }}" class="card-img-top"
                  alt="">
                <a href="{% url 'core:product' object.slug %}">
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--Card image-->

              <!--Card content-->
              <div class="card-body text-center">
                <!--Category & Title-->
                <a href="" class="grey-text">
                  <h5>{{object.get_category_display}}</h5>
                </a>
                <h5>
                  <strong>
                    <a href="{% url 'core:product' object.slug %}" class="dark-grey-text">{{object.title}}
                      <span class="badge badge-pill {{object.get_label_display}}-color">
                        
                        {% if object.get_label_display == "primary" %}
                          New Arival
                        {% elif object.get_label_display == "secondary" %}
                          Hot Selling
                        {% else %}
                          Bestseller  
                        {% endif %}
                        
                      </span>
                    </a>
                  </strong>
                </h5>

                <h4 class="font-weight-bold blue-text"> <strong>
                  
                  {% if object.discount_price > 0 %}
                    {{object.discount_price}}$
                  {% else %}
                    {{ object.price}}$
                  {% endif %}

                </strong></h4>
              </div>
              <!--Card content-->

            </div>
            <!--Card-->

          </div>
          <!--Grid column-->
          {% endfor %}

{% endif %}


