{% extends 'blogPosts/root.html' %}
{% load crispy_forms_tags %}

{% block content %}

	<form method="POST" enctype="multipart/form-data">
	    {% csrf_token %}
	    <fieldset class="form-group">
	        <legend class="border-bottom mb-4">Edit Profile Info</legend>
	            <div class="media">
	            	<small><p><i>Currently*</i></p></small>
	              <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
	            </div>
	            {{ p_form|crispy }}
	            {{ u_form|crispy }}
	          </fieldset>

	          <div class="form-group">
	              <button class="btn btn-outline-info" type="submit">Update</button>
	          </div>

	</form>

{% endblock %}