{% extends 'base.html' %}

{% block content %}

{% if query == None and notfound == None %}
{% include 'includes/carousel.html' %}

{% endif %}
  <!--Main layout-->
  <main>
    <div class="container">

      {% if query == None and notfound == None %}
      {% include 'includes/product-navbar.html'%}
      {% endif %}

      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">


        {% include 'product_snippet.html'%}
          
        
    
        </div>
        <!--Grid row-->
        
      </section>
      <!--Section: Products v.3-->

      <!-- PAGINATION -->
      {% include 'includes/pagination.html' %}

    </div>
  </main>
  <!--Main layout-->

  {% endblock content %}