{% extends 'base.html' %}

{% block content %}
  <!--Main layout-->
  <main>
    <div class="container mt-5 pt-5">
      {% include 'includes/product-navbar.html'%}
      
      {% if category == 'shirt' %}
        <h4 class="text-center mb-4"> All Kind's of "Shirt's" below </h4>
      {% elif category == 'sports-wear' %}
        <h4 class="text-center mb-4"> All Kind's of "Sports Wear" below </h4>
      {% elif category == 'out-wear'%}
        <h4 class="text-center mb-4"> All Kind's of "Out Wear" below </h4>
      {% elif category == 'all' %}
        <h4 class="text-center mb-4"> All Products of Agami Sell below </h4>
      {% endif %}
      
      
      <!--Section: Products v.3-->
      <section class="text-center mb-4">

        <!--Grid row-->
        <div class="row wow fadeIn">
          {% if object_list %}
            {% include 'product_snippet.html'%}
          {% endif %}
          
        </div>
        <!--Grid row-->
        
      </section>
      <!--Section: Products v.3-->

      <!-- PAGINATION -->
      {% include 'includes/pagination.html' %}

    </div>
  </main>
  <!--Main layout-->

  {% endblock content %}