{% extends 'base.html' %}

{% load product_cart_template_tags %}

{% block content %}
      <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ object.image.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{object.get_category_display}}</span>
              </a>
              
              <a href="">
                <span class="badge badge-pill {{object.get_label_display}}-color">
                
                  {% if object.get_label_display == "primary" %}
                    New Arival
                  {% elif object.get_label_display == "secondary" %}
                    Hot Selling
                  {% else %}
                    Bestseller  
                  {% endif %}

                </span>
              </a>
            </div>

            <p class="lead">
              <h2>{{ object.title }}</h2>
              {% if object.discount_price > 0 %}
              <span class="mr-1">
                <del>${{object.price}}</del>
              </span>
              <span>${{ object.discount_price}}</span>
                {% else %}
              <span>{{ object.price}}$</span>
                {% endif %}
              
            </p>

            <p class="lead font-weight-bold">Description</p>

            <p>{{ object.description | safe}}</p>

            <!-- <form class="d-flex justify-content-left"> -->
              <!-- Default input -->
              <!-- <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px"> -->
              <a class="btn btn-primary btn-md my-0 p" href="{% url 'core:add_to_cart' object.slug path %}">Add to cart</a>
              
              <span class="badge red z-depth-1 mr-1"> {%  product_cart_item_count request.user object.slug %} </span>
              
              <a class="fas fa-shopping-cart ml-1" href="{% url 'core:cart_summary'%}"></a>
              <!-- </button> -->
            <!-- </form> -->

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6">

          <h4 class="my-4 h4">Additional information</h4>

          <p>{{ object.additional_info | safe }}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">
        
        {% if  object.image1 %}
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

            <img src="{{ object.image1.url }}" class="img-fluid" alt="">

            </div>
            <!--Grid column-->
        {% endif %}
        
        {% if  object.image2 %}
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

            <img src="{{ object.image2.url }}" class="img-fluid" alt="">

            </div>
            <!--Grid column-->
        {% endif %}

        {% if  object.image3 %}
            <!--Grid column-->
            <div class="col-lg-4 col-md-12 mb-4">

            <img src="{{ object.image3.url }}" class="img-fluid" alt="">

            </div>
            <!--Grid column-->
        {% endif %}

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

 
{% endblock content%}